NOTE: You do not run this script.
Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'

For each of the following expressions, write the value of the expression
and the type (of the value of the expression).

1. width/2
value: 8.5
type: float

2. width/2.0
value: 8.5
type: float

3. height/3
value: 4
type: integer

4. 1 + 2 * 5
value: 11
type: integer

5. delimiter * 5
value: .....
type: ?

Use the Python interpreter to check your answers.
[comment on any surprises here]

In [22]:
width = 17
height = 12.0
delimiter = '.'
print(width/2,type(width/2))

8.5 <class 'float'>

In [4]:
print(width/2.0,type(width/2.0))

8.5 <class 'float'>

In [23]:
print(height/3,type(height/3))

4.0 <class 'float'>

In [27]:
print(1 + 2 * 5, type(1 + 2 * 5))

11 <class 'int'>

In [28]:
print(delimiter * 5, type(delimiter * 5))

..... <class 'str'>

In [32]:
print(4+height,type(4*height))

16.0 <class 'float'>

In [34]:
# I'm surprised that the output of division is typically a float but not for addition, subtraction or multiplication. 
# Futhermore, if a float is present in any type of calculations, the output becomes a float.